body{
    margin:0;
    font-family: 'Segoe Ui', sans-serif;
    background-color: #FAEBD7;;
    color: #7B4835;
    scroll-behavior: smooth;
}

header{
    text-align: center;
    padding: 60px 20px 40px;
}
h1{
    font-size: 2.5em;
    color: #7B4835;
    margin-bottom: 10px;
}
h2 {
    background-color: #7B4835;
    color:#f5f5dc;
    height: 50px;
    align-items: center;
    padding: 5px;
}

.subtitle{
    color: #7B4835;
    font-size: 1.2em;
    animation: fadeIn 2s ease-in-out;
}

nav{ 
    text-align: center;
    margin-bottom: 30px;
}
nav button {
    background-color: #7B4835;
    border: 2px;
    color: #f5f5dc;
    padding: 12px 24px;
    margin: 8px;
    font-size: 1 rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 150px;
    height: 50px;
}
nav button:hover {
    background-color: #3F2818;
    transform: scale(1.05);
}
section{
    padding: 60px 20px;
    text-align: center;
}

section > h2 {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    display: block;
}
#projetos{
    background-color: #FAEBD7;
    color: #7B4835;
    padding: 50px;
    margin: 50px 0;
    border-radius: 8px;
}
#sobremim {
    padding-top: 50x;
    padding: 50px;
    padding-bottom: 20px;
    
}
footer {
    text-align: center;
    padding: 20px;
}
button {
    width: 150px;
    height: 50px;
    background-color: #7B4835;
    color: #f5f5dc;
    border: 2px;    
    margin: 0 12px;
    transition: transform 0.3s;
    
}
button:hover {
    background-color: #3F2818;
    transform: scale(1.05);
}  
.tecnologias-icons {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        padding-top: 30px;
        justify-content: center;
    }
    .tecnologia-item {
        transition: transform 0.2s;
        border-radius: 16px;
        padding: 12px;
        cursor: pointer;
    }
    .tecnologia-item img {
        width: 80px;
        height: 80px;
        transition: filter 0.3s, transform 0.3s;
        filter: grayscale(60%) brightness(0.8);
    }
    .tecnologia-item:hover img {
        filter: none;
        transform: scale(1.12) rotate(-3deg);
    }
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
